<div class="container text-center text-monospace">
	<h3>enjoy your stay within three simple steps</h3>
</div>

<div class="container" style="min-height: 20em">
	<div class="row justify-content-center">
		<div class="card-deck">

			<a class="card text-light bg-secondary border-dark mb-3 text-center" style="width: 18rem; border-width: 4px;" routerLink="/drink"
			 routerLinkActive="true">
				<div class="card-header text-center" style="font-weight: 700; font-size: 26px;">scan</div>
				<div class="card-body">
					<!--<h5 class="card-title">Primary card title</h5>-->
					<fa class="card-title" name="qrcode" size="5x"></fa>
				</div>
			</a>

			<a class="card text-light bg-secondary border-dark mb-3 text-center" style="width: 18rem; border-width: 4px;" routerLink="/food"
			 routerLinkActive="true">
				<div class="card-header text-center" style="font-weight: 700; font-size: 26px;">order</div>
				<div class="card-body">
					<!--<h5 class="card-title">Primary card title</h5>-->
					<fa class="card-title" name="utensils" size="5x"></fa>
				</div>
			</a>

			<a class="card text-light bg-secondary border-dark mb-3 text-center" style="width: 18rem; border-width: 4px;" routerLink="/food"
			 routerLinkActive="true">
				<div class="card-header text-center" style="font-weight: 700; font-size: 26px;">enjoy</div>
				<div class="card-body">
					<!--<h5 class="card-title">Primary card title</h5>-->
					<fa class="card-title" name="smile" size="5x"></fa>
				</div>
			</a>

		</div>
	</div>
</div>

<div class="container text-center small">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
				aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
				no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
				diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

</div>
