
<app-header></app-header>

	<section class="jumbotron">
		<div class="container text-center">
				<h1 id="slogan">mobile order</h1>
				<h3 class="text-monospace">simple. fast. mobile.</h3>
        <br>
				<button class="btn btn-primary btn-lg " type="submit">SIGN UP</button>
			</div>
	</section>

	<section class="container">
		<div class="row text-center">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
				aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
				no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
				diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
				et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			</p>
		</div>
	</section>

  <app-about></app-about>
  <app-footer></app-footer>
 




